<h2>Добавить товар:</h2>
<p>
	<form action="/add" method="POST" role="form">
		<textarea name="nameknife" class="form-control" rows="3" placeholder="Название товара"></textarea>
		<br />
		<textarea name="description" class="form-control" rows="3" placeholder="Описание товара"></textarea>
		<br />
		<button class="btn btn-success" type="submit">Добавить товар</button>
	</form>
</p>